/* Styles for the slide button */
.slide-button {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #4CAF50; /* Green when true */
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
}

.slider {
    position: absolute;
    top: 0;
    left: 0; /* Change position to left */
    width: 50%;
    height: 100%;
    background-color: #ccc; /* Change color when false */
    border-radius: 15px;
    transition: left 0.3s ease, background-color 0.3s ease; /* Added transition for color and position change */
}

.slide-button[data-enabled="true"] .slider {
    left: 50%; /* Change position to right */
    background-color: #333; /* Change color when true */
}


/* Styles for the generic button */
.button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: darkgray;
}

/* Styles for the main container */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table td {
    background-color: #fff;
}

.button-container {
    display: grid;  /* CSS Grid */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));  /* Auto columns */
    gap: 10px;  /* Space between buttons */
    margin-top: 20px; /* Add 20px space above the container */
}
